@tailwind base;
@tailwind components;

@tailwind utilities;
@tailwind screen;

h1 {
    @apply text-xl font-extrabold tracking-tight;
}

#post-content p {
    @apply py-6
}

#post-content h1,
#post-content h2,
#post-content h3,
#post-content h4,
#post-content h5,
#post-content h6 {
    @apply py-2 font-sans
}

#post-content blockquote {
    @apply border-l-4 border-green-500 italic my-8 pl-8 md:pl-12
}

#post-content ol li {
    @apply py-3
}

pre {
    @apply bg-gray-900 rounded text-white font-mono text-base p-2 md:p-4
}

pre code {
    @apply break-words whitespace-pre-wrap
}

svg {
    @apply w-6 h-6;
}

.kg-width-full img,
.kg-width-wide img{

}

.kg-bookmark-author {
    @apple text-base;
}

.kg-bookmark-card {
    @apply rounded-lg w-full shadow p-4;
}

.kg-bookmark-container {
    @apply no-underline  block grid grid-cols-3 gap-0;
}

a.kg-bookmark-container {
    @apply no-underline;
    text-decoration: none !important;
}

.prose a.kg-bookmark-container {
    text-decoration: none !important;
}

.kg-bookmark-content {
    @apply col-span-2;
}

.kg-bookmark-title {
    @apply text-xl font-bold;
}

.kg-bookmark-description {
    @apply text-gray-600 text-sm my-2;
}

.kg-bookmark-metadata {
    @apply text-gray-600;
}

img.kg-bookmark-icon {
    @apply inline-block align-middle w-4 h-4;
    @apply mr-2;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.kg-bookmark-publisher {
    @apply text-sm text-gray-600 inline-block align-middle;
}

.kg-bookmark-thumbnail {
    @apply pl-4;
}

.kg-bookmark-thumbnail img {
    @apply rounded;
    margin-top:0 !important;
    margin-bottom:0 !important;
}

.kg-gallery-image img {
    margin-top:0 !important;
    margin-bottom:0 !important;;
}

@screen lg {
    .kg-gallery-container {
        width: calc(100% + 16rem) !important;
        @apply -ml-32;
    }
}

.kg-gallery-container {
    width:100%;
    max-width: 100vw !important;
    display: flex;
    flex-direction: column;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
}
